#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $secondary_color;

    div {
        display: flex;
        justify-content: space-between;
    }
}