@mixin widths-list {
    @for $i from 0 through 100 {
        .w-#{$i} {
            width: percentage($i / 100);
        }
    }
}

@mixin margins-list {
    @for $i from 0 through 100 {
        .mt-#{$i} {
            margin-top: #{$i}px;
        }

        .mr-#{$i} {
            margin-right: #{$i}px;
        }

        .mb-#{$i} {
            margin-bottom: #{$i}px;
        }

        .ml-#{$i} {
            margin-left: #{$i}px;
        }

        .m-#{$i} {
            margin: #{$i}px;
        }

        .mx-#{$i} {
            margin-left: #{$i}px;
            margin-right: #{$i}px;
        }

        .my-#{$i} {
            margin-top: #{$i}px;
            margin-bottom: #{$i}px;
        }
    }
}

@mixin padding-list {
    @for $i from 0 through 100 {
        .p-#{$i}  {
            padding: #{$i}px
        }
        
        .pt-#{i} {
            padding-top: #{$i}px;
        }

        .pb-#{i} {
            padding-top: #{$i}px;
        }

        .pl-#{i} {
            padding-top: #{$i}px;
        }

        .pr-#{i} {
            padding-top: #{$i}px;
        }

        .px-#{i} {
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }

        .py-#{i} {
            padding-top: #{$i}px;
            padding-bottom: #{$i}px;
        }
    }
}

@mixin grey-button {
    border: 1px solid $light_border_color;
    background: linear-gradient(white, rgb(240, 240, 240));
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 3px;
    outline: none;
    cursor: pointer; 
}

@mixin box-shadow {
    box-shadow: 0 3px 5px #444444;
}

@mixin badges($color) {
    background: linear-gradient(200deg, lighten($color, 20%), $color);
}