#top-bar {
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 30px 10px;
    z-index: 6;

    .title h1 {
        margin-bottom: 0;
    }

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        align-items: center;
    }
}

.notification-icon, .message-icon {
    position: relative;
}

.notification-counter, .message-counter {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 12px;
    height: 12px;
    background: rgb(255, 125, 0);
    border-radius: 100%;
    font-size: 0.7em;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.user-panel {
    position: relative;
    color: #FFF;

    label {
        color: #000;
    }
}

.notification-button {
    cursor: pointer;
}

.notification-container {
    position: absolute;
    margin-top: 15px;
    background: $dark_border_color;
    padding: 20px;
    border: 1px solid $primary_color;
    font-size: 0.8em;
    width: 200px;
    right: 0;
    display: none;

    a {
        color: $secondary_color;
    }

    a:hover {
        color: $link_color;
        text-decoration: underline;
    }
}

.notification {
    border: 1px solid $primary_color;
    padding: 10px;
    background: $light_border_color;
    color: #000;
}

.user-panel-icon-highlight {
    color: $secondary_color;
}