$primary_color: rgb(25, 200, 150);
$secondary_color: rgb(25, 150, 100);
$tetiary_color: rgb(25, 100, 50);
$link_color: rgb(50, 255, 200);
$error_color: rgb(255, 200, 200);
$error_border_color: rgb(175, 100, 100);
$light_border_color: rgb(200, 200, 200);
$med_border_color: rgb(150, 150, 150);
$dark_border_color: rgb(100, 100, 100);
$reply_background_color: rgb(200, 225, 200);
$quote_background_color: rgb(175, 200, 175);
$dark_notice_color: rgb(200, 75, 0);
$newcomer_color: rgb(175, 175, 175);
$moderator_color: rgb(25, 100, 255);
$admin_color: rgb(200, 0, 200);
$notice_color: rgb(255, 125, 0);
$yellow: rgb(255, 255, 0);