@import 'variables';
@import 'mixins';

.admin-sidebar {
    display: flex;
    flex-direction: column;

    a {
        padding: 10px;
        width: 100%;
    }

    .active {
        background: $light_border_color;
        border-radius: 3px;
    }
}

.admin-main {
    background: $light_border_color;
    border-radius: 3px;
    padding: 10px 20px;
    width: 85%;

    h2 {
        margin: 0 0 15px 0;
    }
}

.ok-status, .error-status {
    font-weight: bold;
}

.ok-status {
    color: rgb(0, 225, 0);
}

.error-status {
    color: rgb(225, 0, 0);
}

.pending-status {
    color: rgb(0, 125, 225);
}

.warning-status {
    color: rgb(225, 200, 0)
}

.notification {
    margin-bottom: 5px;
    padding-left: 20px;
}

.delete-user-profile-pic {
    position: absolute;
    right: 0;
    bottom: 0;
}

.user-details, .topics-list, .subtopics-list, .post-content-container, .rename-category {
    display: none;
}

.user-details {
    margin-left: 30px;
    border-left: 5px solid $secondary_color;
    background: $light_border_color;
    font-size: 0.8em;
}

.rename-category {
    position: absolute;
    top: 0;
}

.admin-post-form {
    button {
        min-width: 25px;
        min-height: 25px;
    }
}

/* .admin-post-container {
    border: 1px solid $light_border_color;
} */

.admin-post-container:nth-of-type(n+2) {
    border-top: 0;
}

.post-content {
    display: flex;
    justify-content: center;
    background: $light_border_color;
    padding: 10px;
}

.post-content-body {
    width: 90%;
    white-space: pre-line;
    border-left: 5px solid #555555;
    padding-left: 10px;
}

.replies {
    padding-left: 30px;
    background: $med_border_color;
}

.review-detail {
    margin-left: 30px;
    background: $light_border_color;
    padding: 10px;
    border-left: 5px solid $secondary_color;
}

.post-row {
    background: rgb(255, 255, 255);
    border: 1px solid $light_border_color;
}

.user-fields {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.search-form-fields {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.admin-post-row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.admin-post-row:hover {
    background: #F0F0F0;
}

.admin-post-row-title:hover {
    text-decoration: underline;
}

#change-category-status-form, .admin-menu-container, .category-title-container, .category-header, .user-details-profile-pic,.admin-topic-title, .topic-header {
    position: relative;
}

.admin-menu-button, .admin-menu div, .admin-user-username, .admin-post-row-title, .topics-header, .categories-header, .user-details-profile-pic {
    cursor: pointer;
}

.user-details-profile-pic {
    border-radius: 100%;
}

.user-details-profile-pic:after {
    padding-bottom: 100%;
    content: '';
    display: block;
}

.admin-menu-button {
    background: transparent;
    border: 0;
}

.admin-menu {
    position: absolute;
    display: none;
    font-size: 0.8em;
    right: 0;
    z-index: 9999;
    background: rgb(255, 255, 255);
    @include box-shadow;

    div {
        padding: 10px;
        border: 1px solid $light_border_color;

        &:not(:first-child) {
            border-top: 0;
        }

        &:hover {
            background: $light_border_color;
        }
    }
}

.admin-rename-topic-form {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
}

.admin-rename-topic-submit, .review-detail {
    display: none;
}