@import 'variables';

#new-post-button {
    background: linear-gradient($primary_color, $secondary_color);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

#post-form, .reply-post-form, .reply-form {
    display: none;
}

.post-details {
    margin-bottom: 30px;
    border-bottom: 1px solid $light_border_color;
    padding-bottom: 30px;

    section, footer {
        margin: 0 auto 0 auto;
    }
}

.replies {
    margin: 0 auto 0 auto;
    width: 80%;
}

.post-details, .replies {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

.follow-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    button[type=button], button[type=submit], button[type=submit]:disabled, button[type=button]:disabled {
        border: 1px solid $light_border_color;
        background: linear-gradient(white, rgb(240, 240, 240));
        color: rgb(0, 0, 0);
        padding: 5px;
        outline: none;
    }

    button[type=button], button[type=submit] {
        cursor: pointer;
    }

    button[type=submit]:disabled, button[type=button]:disabled {
        padding: 5px 5px 5px 0px;
        cursor: default;
    }
}

.quote-header {
    cursor: pointer;
}

.post-options {
    display: flex;
    justify-content: flex-end;
    @extend .comment-header
}

.comment-header {
    border-bottom: 1px solid $light_border_color;
    padding-bottom: 10px;
}

.reply {
    border-radius: 3px;
    padding: 10px;
    background-color: $reply_background_color;
    border: 1px solid $secondary_color;
    margin-bottom: 30px;

    header {
        border-bottom: 1px solid $secondary_color;
    }
}

.quote {
    margin: 20px auto 15px auto;
    background-color: $quote_background_color;
    padding: 10px;
    border: 1px solid $secondary_color;
    border-radius: 3px;
}

.quote-body, .post-body {
    white-space: pre-line;
}

.quote-body {
    display: none;
}

.post-edited {
    color: $dark_notice_color;
}