extends ../admin-layout

block admin-header
    link(rel='stylesheet', href='/css/admin.css')

block content
    .section-container.w-100
        .d-flex
            include ../inc/admin-sidebar
            .admin-main
                h2
                    i.far.fa-file-alt.mr-5
                    | Reports
                .posts-table