extends ../admin-layout

block admin-header
    script(src='/scripts/admin-config.js')
    link(rel='stylesheet', href='/css/admin.css')

block content
    section.section-container
        .d-flex
            include ../inc/admin-sidebar
            section.admin-main
                h2
                    i.fas.fa-cogs.mr-5
                    | Site Configurations
                section.section-container
                    .col
                        div
                            span Site Status: 
                            if config[1].status === 'Open'
                                span#site-status.user-badge.success-badge #{config[1].status}
                            else
                                span#site-status.user-badge.critical-badge #{config[1].status}
                        .admin-menu-container
                            i.fas.fa-lg.fa-ellipsis-h.admin-menu-button
                            .admin-menu
                                .site-config-option(data-config-id='2', data-status='Open') Open
                                .site-config-option(data-config-id='2', data-status='Closed') Close
                        //form#change-site-status-form.change-config-form(action='/change-config', method='POST')
                            input(type='hidden', name='config_id', value='2')
                            select#change-site-status(name='status')
                                option
                                option(value='Open') Open
                                option(value='Closed') Close
                    .col
                        div
                            span Registration Status: 
                            if config[0].status === 'Open'
                                span#registration-status.user-badge.success-badge #{config[0].status}
                            else
                                span#registration-status.user-badge.critical-badge #{config[0].status}
                        .admin-menu-container
                            i.fas.fa-lg.fa-ellipsis-h.admin-menu-button
                            .admin-menu
                                .reg-config-option(data-config-id='1', data-status='Open') Open
                                .reg-config-option(data-config-id='1', data-status='Closed') Close
                        //form#change-registration-status-form.change-config-form(action='/change-config', method='POST')
                            input(type='hidden', name='config_id', value='1')
                            select#change-registration-status(name='status')
                                option
                                option(value='Open') Open
                                option(value='Closed') Close
