doctype html
- var siteTitle = 'Gongle'

include inc/mixins

html
    head
        include inc/header
    body
        include inc/top
        include inc/nav

        main
            block sidebar
            block content
        
        include inc/footer
        