aside.forum-sidebar-parent
    #forum-sidebar
    .forum-sidebar-control
        div.forum-sidebar-toggler.text-center
            i.fas.fa-2x.fa-angle-double-left
        div.forum-sidebar-toggler.text-center
            i.fas.fa-2x.fa-angle-double-left