if title
    - var pageTitle = title + ' - '
title #{pageTitle}#{siteTitle}

meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
link(rel='stylesheet', href='/css/vendor/fa-brands.css')
link(rel='stylesheet', href='/css/vendor/fa-regular.css')
link(rel='stylesheet', href='/css/vendor/fa-solid.css')
script(src='/scripts/vendor/jquery-3.3.1.js')
script(src='/scripts/modules/global.js')
script(src='/scripts/functions.js')
script(src='/scripts/site.js')
link(rel='stylesheet', href='/css/styles.css')
link(rel='stylesheet', href='/css/vendor/fontawesome.css')
link(rel='stylesheet', href='/css/vendor/alertify.css')
script(src='/scripts/vendor/alertify.js')
block header