- var inboxActive = ''
- var outboxActive = ''
- var starredActive = ''
- var composeActive = ''
if location === 'inbox'
    - inboxActive = 'active'
else if location === 'outbox'
    - outboxActive = 'active'
else if location === 'starred'
    - starredActive = 'active'
else if location === 'compose'
    - composeActive = 'active'
.message-nav
    a(href='/message/compose', class=composeActive)
        i.fas.fa-pen.mr-5
        | Compose
    a(href='/messages/inbox?key=' + user.session_key, class=inboxActive)
        i.fas.fa-inbox.mr-5
        | Inbox
    a(href='/messages/outbox?key=' + user.session_key, class=outboxActive)
        i.fas.fa-envelope-open.mr-5
        | Outbox
    a(href='/messages/starred?key=' + user.session_key, class=starredActive)
        i.fas.fa-star.mr-5
        | Starred