if (saved_messages.indexOf(message.message_id) < 0)
    form.save-message(action='/save-message', method='post')
        input(type='hidden', name='message_id', value=message.message_id)
        button(type='submit')
            i.far.fa-lg.fa-star
else
    form.unsave-message(action='/unsave-message', method='post')
        input(type='hidden', name='message_id', value=message.message_id)
        button(type='submit', name='follow')
            span.fa-stack.fa-lg
                i.fas.fa-star.fa-stack-1x.followed
                i.far.fa-star.fa-stack-1x