.d-flex.mb-5
    +vote(post)
    .show-posts
            a(href='/forums/posts/post-details?pid=' + post.post_id + '&tid=' + post.post_topic + '&page=1') #{post.post_title}
    div
        a(href='/subforums/' + post.topic_title.toLowerCase() + '/' + post.subtopic_title.toLowerCase()) #{post.subtopic_title}